In [75]:
#import neceassary packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [76]:
# load energy and weather datasets into pandas dataframes
energy_data = pd.read_csv('../raw_data/energy_dataset.csv')
weather_data = pd.read_csv('../raw_data/weather_features.csv')

In [77]:
energy_data.info

<bound method DataFrame.info of                             time  generation biomass  \
0      2015-01-01 00:00:00+01:00               447.0
1      2015-01-01 01:00:00+01:00               449.0
2      2015-01-01 02:00:00+01:00               448.0
3      2015-01-01 03:00:00+01:00               438.0
4      2015-01-01 04:00:00+01:00               428.0
...                          ...                 ...
35059  2018-12-31 19:00:00+01:00               297.0
35060  2018-12-31 20:00:00+01:00               296.0
35061  2018-12-31 21:00:00+01:00               292.0
35062  2018-12-31 22:00:00+01:00               293.0
35063  2018-12-31 23:00:00+01:00               290.0

       generation fossil brown coal/lignite  \
0                                     329.0
1                                     328.0
2                                     323.0
3                                     254.0
4                                     187.0
...                                     ...
35059                                   0.0
35060                                   0.0
35061                                   0.0
35062                                   0.0
35063                                   0.0

       generation fossil coal-derived gas  generation fossil gas  \
0                                     0.0                 4844.0
1                                     0.0                 5196.0
2                                     0.0                 4857.0
3                                     0.0                 4314.0
4                                     0.0                 4130.0
...                                   ...                    ...
35059                                 0.0                 7634.0
35060                                 0.0                 7241.0
35061                                 0.0                 7025.0
35062                                 0.0                 6562.0
35063                                 0.0                 6926.0

       generation fossil hard coal  generation fossil oil  \
0                           4821.0                  162.0
1                           4755.0                  158.0
2                           4581.0                  157.0
3                           4131.0                  160.0
4                           3840.0                  156.0
...                            ...                    ...
35059                       2628.0                  178.0
35060                       2566.0                  174.0
35061                       2422.0                  168.0
35062                       2293.0                  163.0
35063                       2166.0                  163.0

       generation fossil oil shale  generation fossil peat  \
0                              0.0                     0.0
1                              0.0                     0.0
2                              0.0                     0.0
3                              0.0                     0.0
4                              0.0                     0.0
...                            ...                     ...
35059                          0.0                     0.0
35060                          0.0                     0.0
35061                          0.0                     0.0
35062                          0.0                     0.0
35063                          0.0                     0.0

       generation geothermal  ...  generation waste  generation wind offshore  \
0                        0.0  ...             196.0                       0.0
1                        0.0  ...             195.0                       0.0
2                        0.0  ...             196.0                       0.0
3                        0.0  ...             191.0                       0.0
4                        0.0  ...             189.0                       0.0
...                      ...  ...               ...                       ...
35059                    0.0  ...             277.0                       0.0
35060                    0.0  ...             280.0                       0.0
35061                    0.0  ...             286.0                       0.0
35062                    0.0  ...             287.0                       0.0
35063                    0.0  ...             287.0                       0.0

       generation wind onshore  forecast solar day ahead  \
0                       6378.0                      17.0
1                       5890.0                      16.0
2                       5461.0                       8.0
3                       5238.0                       2.0
4                       4935.0                       9.0
...                        ...                       ...
35059                   3113.0                      96.0
35060                   3288.0                      51.0
35061                   3503.0                      36.0
35062                   3586.0                      29.0
35063                   3651.0                      26.0

       forecast wind offshore eday ahead  forecast wind onshore day ahead  \
0                                    NaN                           6436.0
1                                    NaN                           5856.0
2                                    NaN                           5454.0
3                                    NaN                           5151.0
4                                    NaN                           4861.0
...                                  ...                              ...
35059                                NaN                           3253.0
35060                                NaN                           3353.0
35061                                NaN                           3404.0
35062                                NaN                           3273.0
35063                                NaN                           3117.0

       total load forecast  total load actual  price day ahead  price actual
0                  26118.0            25385.0            50.10         65.41
1                  24934.0            24382.0            48.10         64.92
2                  23515.0            22734.0            47.33         64.48
3                  22642.0            21286.0            42.27         59.32
4                  21785.0            20264.0            38.41         56.04
...                    ...                ...              ...           ...
35059              30619.0            30653.0            68.85         77.02
35060              29932.0            29735.0            68.40         76.16
35061              27903.0            28071.0            66.88         74.30
35062              25450.0            25801.0            63.93         69.89
35063              24424.0            24455.0            64.27         69.88

[35064 rows x 29 columns]>

In [78]:
#it looks like we have several columns that are completely null. Let's confirm and then delete them:
energy_data['generation fossil coal-derived gas'].sum()

0.0

In [79]:
energy_data['generation fossil oil shale'].sum()

0.0

In [80]:
energy_data['generation fossil peat'].sum()

0.0

In [81]:
energy_data['generation hydro pumped storage aggregated'].count()

0

In [82]:
energy_data['generation geothermal'].sum()

0.0

In [83]:
energy_data['generation marine'].sum()

0.0

In [84]:
energy_data['generation wind offshore'].sum()

0.0

In [85]:
energy_data['forecast wind offshore eday ahead'].count()

0

In [86]:
energy_data.drop(columns = ['generation fossil coal-derived gas','generation fossil oil shale','generation fossil peat','generation geothermal','generation hydro pumped storage aggregated','generation marine','generation wind offshore','forecast wind offshore eday ahead'])

,time,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,...,generation other renewable,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,...,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,...,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,...,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,...,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,...,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,7634.0,2628.0,178.0,1.0,1135.0,4836.0,6073.0,...,95.0,85.0,277.0,3113.0,96.0,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,7241.0,2566.0,174.0,1.0,1172.0,3931.0,6074.0,...,95.0,33.0,280.0,3288.0,51.0,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,7025.0,2422.0,168.0,50.0,1148.0,2831.0,6076.0,...,94.0,31.0,286.0,3503.0,36.0,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,6562.0,2293.0,163.0,108.0,1128.0,2068.0,6075.0,...,93.0,31.0,287.0,3586.0,29.0,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,6926.0,2166.0,163.0,108.0,1069.0,1686.0,6075.0,...,92.0,31.0,287.0,3651.0,26.0,3117.0,24424.0,24455.0,64.27,69.88

In [87]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#energy_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([energy_data.isnull().sum(), 100 * energy_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count'],ascending = False)
missing.head(20)
#not sure why 'generation hydro pumped storage aggregated' is still showing up, this column should have been deleted...

                                             count           %
time                                             0    0.000000
generation biomass                              19    0.054187
generation fossil brown coal/lignite            18    0.051335
generation fossil coal-derived gas              18    0.051335
generation fossil gas                           18    0.051335
generation fossil hard coal                     18    0.051335
generation fossil oil                           19    0.054187
generation fossil oil shale                     18    0.051335
generation fossil peat                          18    0.051335
generation geothermal                           18    0.051335
generation hydro pumped storage aggregated   35064  100.000000
generation hydro pumped storage consumption     19    0.054187
generation hydro run-of-river and poundage      19    0.054187
generation hydro water reservoir                18    0.051335
generation marine                               19    0.054187
generation nuclear                              17    0.048483
generation other                                18    0.051335
generation other renewable                      18    0.051335
generation solar                                18    0.051335
generation waste                                19    0.054187

The number of null values is very low, but I want to delete as few rows as possible because it would be best to have continuous hourly data. I could impute the missing values with 0 and it would likely not have a significant effect. It is likely that the missing values all come from the same times, since the number of missing values is very similar for each variable. I will need to investigate how best to handle these.

In [88]:
# let's check to see what the null values look like for one variable:
energy_data.query('`generation biomass`.isnull()', engine='python')

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
99,2015-01-05 03:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,546.0,NaN,8233.0,21912.0,21182.0,35.20,59.68
108,2015-01-05 12:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3932.0,NaN,9258.0,23209.0,NaN,35.50,79.14
109,2015-01-05 13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4236.0,NaN,9156.0,23725.0,NaN,36.80,73.95
110,2015-01-05 14:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4215.0,NaN,9072.0,23614.0,NaN,32.50,71.93
111,2015-01-05 15:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4050.0,NaN,8779.0,22381.0,NaN,30.00,71.50
112,2015-01-05 16:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3728.0,NaN,8426.0,21371.0,NaN,30.00,71.85
113,2015-01-05 17:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3175.0,NaN,7946.0,20760.0,NaN,30.60,80.53
451,2015-01-19 19:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,91.0,NaN,6434.0,38642.0,39304.0,70.01,88.95
452,2015-01-19 20:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.0,NaN,6907.0,38758.0,39262.0,69.00,87.94
643,2015-01-27 19:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,182.0,NaN,9807.0,38968.0,38335.0,66.00,83.97
661,2015-01-28 13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4136.0,NaN,6223.0,36239.0,NaN,65.00,77.62
2528,2015-04-16 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,952.0,NaN,3377.0,31001.0,NaN,56.54,67.55
2708,2015-04-23 21:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,327.0,NaN,1058.0,31421.0,NaN,69.49,82.57
3968,2015-06-15 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1552.0,NaN,2718.0,29899.0,30047.0,62.48,73.82
6586,2015-10-02 11:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2513.0,NaN,3690.0,38921.0,NaN,70.09,70.49
8049,2015-12-02 09:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,684.0,NaN,1510.0,37413.0,NaN,75.71,80.44
13341,2016-07-09 22:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,499.0,NaN,4914.0,34985.0,NaN,45.72,51.72
16612,2016-11-23 04:00:00+01:00,NaN,900.0,0.0,4838.0,4547.0,269.0,0.0,0.0,0.0,...,227.0,0.0,4598.0,3.0,NaN,4566.0,23469.0,23112.0,43.19,49.11
30896,2018-07-11 09:00:00+02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,849.0,NaN,9956.0,33938.0,NaN,63.01,69.79

As suspected, the rows that are null are pretty much null across the board. Luckily most of them are not continuous, except for one group of 6 continuous hours on 2015-01-05. Probably the only way to handle these null values is to delete the entire row since it would not be feasible to impute missing values for all the columns of an observation. So if it is a row with all 'generation' columns as null, I will delete the row, but if only a few columns are null, I will impute missing vlaues with 0. But it is maybe best not to delete these until we merge with the weather data.

In [89]:
weather_data.info
#we can see that the times seem to match up, so if I want to merge the two DF it will be on 'time' = 'dt_iso',
#however, there is only one instance of each time in the energy data and one for each city (x5) in the weather data
#It also appears that there is indeed one observation for each hour over four years. 
#365*3*24 + 366*24 = 35064 (for one leap year). Somehow the weather data has more entries than that though. 
# 5 cities * 35064 = 175320, but there are 178395 rows. I will have to invesigate where the ~3000 extra rows come from

<bound method DataFrame.info of                            dt_iso city_name     temp  temp_min  temp_max  \
0       2015-01-01 00:00:00+01:00  Valencia  270.475   270.475   270.475
1       2015-01-01 01:00:00+01:00  Valencia  270.475   270.475   270.475
2       2015-01-01 02:00:00+01:00  Valencia  269.686   269.686   269.686
3       2015-01-01 03:00:00+01:00  Valencia  269.686   269.686   269.686
4       2015-01-01 04:00:00+01:00  Valencia  269.686   269.686   269.686
...                           ...       ...      ...       ...       ...
178391  2018-12-31 19:00:00+01:00   Seville  287.760   287.150   288.150
178392  2018-12-31 20:00:00+01:00   Seville  285.760   285.150   286.150
178393  2018-12-31 21:00:00+01:00   Seville  285.150   285.150   285.150
178394  2018-12-31 22:00:00+01:00   Seville  284.150   284.150   284.150
178395  2018-12-31 23:00:00+01:00   Seville  283.970   282.150   285.150

        pressure  humidity  wind_speed  wind_deg  rain_1h  rain_3h  snow_3h  \
0           1001        77           1        62      0.0      0.0      0.0
1           1001        77           1        62      0.0      0.0      0.0
2           1002        78           0        23      0.0      0.0      0.0
3           1002        78           0        23      0.0      0.0      0.0
4           1002        78           0        23      0.0      0.0      0.0
...          ...       ...         ...       ...      ...      ...      ...
178391      1028        54           3        30      0.0      0.0      0.0
178392      1029        62           3        30      0.0      0.0      0.0
178393      1028        58           4        50      0.0      0.0      0.0
178394      1029        57           4        60      0.0      0.0      0.0
178395      1029        70           3        50      0.0      0.0      0.0

        clouds_all  weather_id weather_main weather_description weather_icon
0                0         800        clear        sky is clear          01n
1                0         800        clear        sky is clear          01n
2                0         800        clear        sky is clear          01n
3                0         800        clear        sky is clear          01n
4                0         800        clear        sky is clear          01n
...            ...         ...          ...                 ...          ...
178391           0         800        clear        sky is clear          01n
178392           0         800        clear        sky is clear          01n
178393           0         800        clear        sky is clear          01n
178394           0         800        clear        sky is clear          01n
178395           0         800        clear        sky is clear          01n

[178396 rows x 17 columns]>

In [90]:
weather_data[weather_data.city_name == 'Valencia'].count()

dt_iso                 35145
city_name              35145
temp                   35145
temp_min               35145
temp_max               35145
pressure               35145
humidity               35145
wind_speed             35145
wind_deg               35145
rain_1h                35145
rain_3h                35145
snow_3h                35145
clouds_all             35145
weather_id             35145
weather_main           35145
weather_description    35145
weather_icon           35145
dtype: int64

In [91]:
weather_data[weather_data.city_name == 'Madrid'].count()

dt_iso                 36267
city_name              36267
temp                   36267
temp_min               36267
temp_max               36267
pressure               36267
humidity               36267
wind_speed             36267
wind_deg               36267
rain_1h                36267
rain_3h                36267
snow_3h                36267
clouds_all             36267
weather_id             36267
weather_main           36267
weather_description    36267
weather_icon           36267
dtype: int64

In [92]:
weather_data[weather_data.city_name == 'Bilbao'].count()

dt_iso                 35951
city_name              35951
temp                   35951
temp_min               35951
temp_max               35951
pressure               35951
humidity               35951
wind_speed             35951
wind_deg               35951
rain_1h                35951
rain_3h                35951
snow_3h                35951
clouds_all             35951
weather_id             35951
weather_main           35951
weather_description    35951
weather_icon           35951
dtype: int64

In [93]:
weather_data[weather_data.city_name == ' Barcelona'].count() #noticed that Barecelona has a space in front

dt_iso                 35476
city_name              35476
temp                   35476
temp_min               35476
temp_max               35476
pressure               35476
humidity               35476
wind_speed             35476
wind_deg               35476
rain_1h                35476
rain_3h                35476
snow_3h                35476
clouds_all             35476
weather_id             35476
weather_main           35476
weather_description    35476
weather_icon           35476
dtype: int64

In [94]:
weather_data[weather_data.city_name == 'Seville'].count()

dt_iso                 35557
city_name              35557
temp                   35557
temp_min               35557
temp_max               35557
pressure               35557
humidity               35557
wind_speed             35557
wind_deg               35557
rain_1h                35557
rain_3h                35557
snow_3h                35557
clouds_all             35557
weather_id             35557
weather_main           35557
weather_description    35557
weather_icon           35557
dtype: int64

In [95]:
weather_data['dt_iso'].value_counts()

2015-10-01 02:00:00+02:00    10
2017-09-30 02:00:00+02:00    10
2016-09-30 02:00:00+02:00    10
2018-09-30 02:00:00+02:00    10
2018-02-28 09:00:00+01:00    10
                             ..
2016-05-06 17:00:00+02:00     5
2016-05-06 15:00:00+02:00     5
2016-05-06 14:00:00+02:00     5
2016-05-06 13:00:00+02:00     5
2018-12-31 23:00:00+01:00     5
Name: dt_iso, Length: 35064, dtype: int64

So there are many actual duplicates (not just the 5x duplicates indicated by having 5 cities). We will eventually need to transform the weather data to be wide (have only one time observation per hour and make the city data be columns).

In [96]:
weather_data.drop_duplicates(inplace = True)

In [97]:
weather_data['dt_iso'].value_counts()

2018-02-28 09:00:00+01:00    10
2018-02-28 10:00:00+01:00     9
2018-01-07 10:00:00+01:00     9
2018-02-28 11:00:00+01:00     9
2017-02-24 11:00:00+01:00     9
                             ..
2016-05-06 15:00:00+02:00     5
2016-05-06 14:00:00+02:00     5
2016-05-06 13:00:00+02:00     5
2016-05-06 12:00:00+02:00     5
2018-12-31 23:00:00+01:00     5
Name: dt_iso, Length: 35064, dtype: int64

In [98]:
#dropping duplicates did not solve the issue so they must not be duplicates in every field
#let's see what one of the duplicate time values rows look like:
weather_data[weather_data.dt_iso == '2018-02-28 09:00:00+01:00']

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
27768,2018-02-28 09:00:00+01:00,Valencia,279.15,279.15,279.15,1002,100,1,310,0.0,0.0,0.0,75,803,clouds,broken clouds,04d
63615,2018-02-28 09:00:00+01:00,Madrid,278.15,277.15,279.15,994,93,7,205,0.9,0.0,0.0,90,501,rain,moderate rain,10d
63616,2018-02-28 09:00:00+01:00,Madrid,278.15,277.15,279.15,994,93,7,205,0.9,0.0,0.0,90,701,mist,mist,50d
63617,2018-02-28 09:00:00+01:00,Madrid,278.15,277.15,279.15,994,93,7,205,0.9,0.0,0.0,90,301,drizzle,drizzle,09d
63618,2018-02-28 09:00:00+01:00,Madrid,278.15,277.15,279.15,994,93,7,205,0.9,0.0,0.0,90,741,fog,fog,50d
99837,2018-02-28 09:00:00+01:00,Bilbao,271.15,271.15,271.15,998,100,1,30,0.0,0.0,0.0,90,601,snow,snow,13d
99838,2018-02-28 09:00:00+01:00,Bilbao,271.15,271.15,271.15,998,100,1,30,0.0,0.0,0.0,90,741,fog,fog,50d
135320,2018-02-28 09:00:00+01:00,Barcelona,274.15,273.15,275.15,1006,100,2,30,0.3,0.0,0.0,75,601,snow,snow,13d
135321,2018-02-28 09:00:00+01:00,Barcelona,274.15,273.15,275.15,1006,100,2,30,0.3,0.0,0.0,75,500,rain,light rain,10d
170891,2018-02-28 09:00:00+01:00,Seville,286.15,286.15,286.15,999,93,7,190,0.9,0.0,0.0,90,501,rain,moderate rain,10d

So we have instances where there are multiple hourly observations for the same city, but with different descriptors, id, icon, etc. I'd like to delete all but the first hourly observation for each city.

In [99]:
#I suspect that temp, temp_min, and temp_max are all equal, let's check and delete the two extra columns if so.
weather_data["temp"].equals(weather_data["temp_min"])
#Okay, columns are not always the same, but since the data are hourly I assume it will be safe to delete 
# temp_max and temp_min and just use temp

False

In [100]:
weather_data["weather_description"].unique()
#These seem too detailed and too numerous to be of use; this column should likely be deleted

array(['sky is clear', 'few clouds', 'scattered clouds', 'broken clouds',
       'overcast clouds', 'light rain', 'moderate rain',
       'heavy intensity rain', 'mist', 'heavy intensity shower rain',
       'shower rain', 'very heavy rain', 'thunderstorm with heavy rain',
       'thunderstorm with light rain', 'thunderstorm with rain',
       'proximity thunderstorm', 'thunderstorm',
       'light intensity shower rain', 'light intensity drizzle', 'fog',
       'drizzle', 'smoke', 'heavy intensity drizzle', 'haze',
       'proximity shower rain', 'light intensity drizzle rain',
       'light snow', 'rain and snow', 'light rain and snow', 'snow',
       'light thunderstorm', 'heavy snow', 'sleet', 'rain and drizzle',
       'shower sleet', 'light shower sleet', 'light shower snow',
       'proximity moderate rain', 'ragged shower rain',
       'sand dust whirls', 'proximity drizzle', 'dust', 'squalls'],
      dtype=object)

In [101]:
weather_data["weather_id"].unique()
# I do not know what these id's signify and it is unlikely they'll be helpful; can just delete this column

array([800, 801, 802, 803, 804, 500, 501, 502, 701, 522, 521, 503, 202,
       200, 201, 211, 520, 300, 741, 301, 711, 302, 721, 310, 600, 616,
       615, 601, 210, 602, 611, 311, 612, 620, 531, 731, 761, 771],
      dtype=int64)

In [102]:
weather_data["weather_main"].unique()
#This variable seems like it is basic enough that it would be worth quantifying to make a numerical categorical variable

array(['clear', 'clouds', 'rain', 'mist', 'thunderstorm', 'drizzle',
       'fog', 'smoke', 'haze', 'snow', 'dust', 'squall'], dtype=object)

In [103]:
weather_data["weather_icon"].unique()
#like the weather id, I don't know the significance of these. Can likely delete this column

array(['01n', '01d', '1', '02n', '02d', '2', '3', '04n', '4', '10n',
       '03n', '10', '04d', '03d', '10d', '50d', '09n', '11d', '11n',
       '09d', '50n', '13d', '13n', '13'], dtype=object)

In [104]:
#I suspect I will also not need rain_1hr, rain_3hr, or snow_3hr, and maybe not wind_deg, but I will keep them for now.
weather_data.drop(columns = ['weather_id','weather_icon','weather_description','temp_min','temp_max'])

,dt_iso,city_name,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_main
0,2015-01-01 00:00:00+01:00,Valencia,270.475,1001,77,1,62,0.0,0.0,0.0,0,clear
1,2015-01-01 01:00:00+01:00,Valencia,270.475,1001,77,1,62,0.0,0.0,0.0,0,clear
2,2015-01-01 02:00:00+01:00,Valencia,269.686,1002,78,0,23,0.0,0.0,0.0,0,clear
3,2015-01-01 03:00:00+01:00,Valencia,269.686,1002,78,0,23,0.0,0.0,0.0,0,clear
4,2015-01-01 04:00:00+01:00,Valencia,269.686,1002,78,0,23,0.0,0.0,0.0,0,clear
...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,1028,54,3,30,0.0,0.0,0.0,0,clear
178392,2018-12-31 20:00:00+01:00,Seville,285.760,1029,62,3,30,0.0,0.0,0.0,0,clear
178393,2018-12-31 21:00:00+01:00,Seville,285.150,1028,58,4,50,0.0,0.0,0.0,0,clear
178394,2018-12-31 22:00:00+01:00,Seville,284.150,1029,57,4,60,0.0,0.0,0.0,0,clear
178395,2018-12-31 23:00:00+01:00,Seville,283.970,1029,70,3,50,0.0,0.0,0.0,0,clear

In [105]:
#let's attempt to delete duplicate rows now:
weather_data.drop_duplicates(subset = ['dt_iso','city_name'], keep='first', inplace=True)

In [106]:
weather_data[weather_data.city_name == 'Valencia'].count()

dt_iso                 35064
city_name              35064
temp                   35064
temp_min               35064
temp_max               35064
pressure               35064
humidity               35064
wind_speed             35064
wind_deg               35064
rain_1h                35064
rain_3h                35064
snow_3h                35064
clouds_all             35064
weather_id             35064
weather_main           35064
weather_description    35064
weather_icon           35064
dtype: int64

In [107]:
weather_data[weather_data.city_name == 'Madrid'].count()

dt_iso                 35064
city_name              35064
temp                   35064
temp_min               35064
temp_max               35064
pressure               35064
humidity               35064
wind_speed             35064
wind_deg               35064
rain_1h                35064
rain_3h                35064
snow_3h                35064
clouds_all             35064
weather_id             35064
weather_main           35064
weather_description    35064
weather_icon           35064
dtype: int64

In [108]:
weather_data[weather_data.city_name == ' Barcelona'].count()

dt_iso                 35064
city_name              35064
temp                   35064
temp_min               35064
temp_max               35064
pressure               35064
humidity               35064
wind_speed             35064
wind_deg               35064
rain_1h                35064
rain_3h                35064
snow_3h                35064
clouds_all             35064
weather_id             35064
weather_main           35064
weather_description    35064
weather_icon           35064
dtype: int64

In [109]:
weather_data[weather_data.city_name == 'Bilbao'].count()

dt_iso                 35064
city_name              35064
temp                   35064
temp_min               35064
temp_max               35064
pressure               35064
humidity               35064
wind_speed             35064
wind_deg               35064
rain_1h                35064
rain_3h                35064
snow_3h                35064
clouds_all             35064
weather_id             35064
weather_main           35064
weather_description    35064
weather_icon           35064
dtype: int64

In [110]:
weather_data[weather_data.city_name == 'Seville'].count()

dt_iso                 35064
city_name              35064
temp                   35064
temp_min               35064
temp_max               35064
pressure               35064
humidity               35064
wind_speed             35064
wind_deg               35064
rain_1h                35064
rain_3h                35064
snow_3h                35064
clouds_all             35064
weather_id             35064
weather_main           35064
weather_description    35064
weather_icon           35064
dtype: int64

Excellent, now there is only one hourly observation for each city. Now I have to determine what would be the best way to merge the energy and weather dataframes. If I just average the columns in the weather data for all five cities I might lose some meaningful information, but there would be only one neat set of weather variables. I could also create a wide dataframe with columns for each of the weather variables for each city, but this may create too many variables. Not sure which approach is better...

In [111]:
# create a df with averages for each column (drop city_name column)
'''
weather_avg = weather_data.drop(columns = ['city_name'])
# categorize the weather_main column 
weather_avg['weather_main'].replace(['clear', 'clouds', 'rain', 'mist', 'thunderstorm', 'drizzle',
       'fog', 'smoke', 'haze', 'snow', 'dust', 'squall'],[0,1,2,3,4,5,6,7,8,9,10,11], inplace = True)
# average all other columns grouped by time
weather_avg.groupby('dt_iso').mean()  #categorical 'weather_main' average will be distorted, take floor int value to convert back to category?
'''

"\nweather_avg = weather_data.drop(columns = ['city_name'])\n# categorize the weather_main column \nweather_avg['weather_main'].replace(['clear', 'clouds', 'rain', 'mist', 'thunderstorm', 'drizzle',\n       'fog', 'smoke', 'haze', 'snow', 'dust', 'squall'],[0,1,2,3,4,5,6,7,8,9,10,11], inplace = True)\n# average all other columns grouped by time\nweather_avg.groupby('dt_iso').mean()  #categorical 'weather_main' average will be distorted, take floor int value to convert back to category?\n"

In [112]:
#create a wide df with the five cities converted to columns and only one time observation per hour
'''
weather_wide = weather_data.pivot(columns = 'city_name', values = ['temp','pressure','humidity','wind_speed','wind_deg','rain_1h','rain_3h','snow_3h','clouds_all','weather_main'])

'''

"\nweather_wide = weather_data.pivot(columns = 'city_name', values = ['temp','pressure','humidity','wind_speed','wind_deg','rain_1h','rain_3h','snow_3h','clouds_all','weather_main'])\n\n"