In [5]:
#import neceassary packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [6]:
# load energy and weather datasets into pandas dataframes
energy_data = pd.read_csv('../raw_data/energy_dataset.csv')
weather_data = pd.read_csv('../raw_data/weather_features.csv')

In [7]:
energy_data.info

<bound method DataFrame.info of                             time  generation biomass  \
0      2015-01-01 00:00:00+01:00               447.0
1      2015-01-01 01:00:00+01:00               449.0
2      2015-01-01 02:00:00+01:00               448.0
3      2015-01-01 03:00:00+01:00               438.0
4      2015-01-01 04:00:00+01:00               428.0
...                          ...                 ...
35059  2018-12-31 19:00:00+01:00               297.0
35060  2018-12-31 20:00:00+01:00               296.0
35061  2018-12-31 21:00:00+01:00               292.0
35062  2018-12-31 22:00:00+01:00               293.0
35063  2018-12-31 23:00:00+01:00               290.0

       generation fossil brown coal/lignite  \
0                                     329.0
1                                     328.0
2                                     323.0
3                                     254.0
4                                     187.0
...                                     ...
35059                                   0.0
35060                                   0.0
35061                                   0.0
35062                                   0.0
35063                                   0.0

       generation fossil coal-derived gas  generation fossil gas  \
0                                     0.0                 4844.0
1                                     0.0                 5196.0
2                                     0.0                 4857.0
3                                     0.0                 4314.0
4                                     0.0                 4130.0
...                                   ...                    ...
35059                                 0.0                 7634.0
35060                                 0.0                 7241.0
35061                                 0.0                 7025.0
35062                                 0.0                 6562.0
35063                                 0.0                 6926.0

       generation fossil hard coal  generation fossil oil  \
0                           4821.0                  162.0
1                           4755.0                  158.0
2                           4581.0                  157.0
3                           4131.0                  160.0
4                           3840.0                  156.0
...                            ...                    ...
35059                       2628.0                  178.0
35060                       2566.0                  174.0
35061                       2422.0                  168.0
35062                       2293.0                  163.0
35063                       2166.0                  163.0

       generation fossil oil shale  generation fossil peat  \
0                              0.0                     0.0
1                              0.0                     0.0
2                              0.0                     0.0
3                              0.0                     0.0
4                              0.0                     0.0
...                            ...                     ...
35059                          0.0                     0.0
35060                          0.0                     0.0
35061                          0.0                     0.0
35062                          0.0                     0.0
35063                          0.0                     0.0

       generation geothermal  ...  generation waste  generation wind offshore  \
0                        0.0  ...             196.0                       0.0
1                        0.0  ...             195.0                       0.0
2                        0.0  ...             196.0                       0.0
3                        0.0  ...             191.0                       0.0
4                        0.0  ...             189.0                       0.0
...                      ...  ...               ...                       ...
35059                    0.0  ...             277.0                       0.0
35060                    0.0  ...             280.0                       0.0
35061                    0.0  ...             286.0                       0.0
35062                    0.0  ...             287.0                       0.0
35063                    0.0  ...             287.0                       0.0

       generation wind onshore  forecast solar day ahead  \
0                       6378.0                      17.0
1                       5890.0                      16.0
2                       5461.0                       8.0
3                       5238.0                       2.0
4                       4935.0                       9.0
...                        ...                       ...
35059                   3113.0                      96.0
35060                   3288.0                      51.0
35061                   3503.0                      36.0
35062                   3586.0                      29.0
35063                   3651.0                      26.0

       forecast wind offshore eday ahead  forecast wind onshore day ahead  \
0                                    NaN                           6436.0
1                                    NaN                           5856.0
2                                    NaN                           5454.0
3                                    NaN                           5151.0
4                                    NaN                           4861.0
...                                  ...                              ...
35059                                NaN                           3253.0
35060                                NaN                           3353.0
35061                                NaN                           3404.0
35062                                NaN                           3273.0
35063                                NaN                           3117.0

       total load forecast  total load actual  price day ahead  price actual
0                  26118.0            25385.0            50.10         65.41
1                  24934.0            24382.0            48.10         64.92
2                  23515.0            22734.0            47.33         64.48
3                  22642.0            21286.0            42.27         59.32
4                  21785.0            20264.0            38.41         56.04
...                    ...                ...              ...           ...
35059              30619.0            30653.0            68.85         77.02
35060              29932.0            29735.0            68.40         76.16
35061              27903.0            28071.0            66.88         74.30
35062              25450.0            25801.0            63.93         69.89
35063              24424.0            24455.0            64.27         69.88

[35064 rows x 29 columns]>

In [22]:
#it looks like we have several columns that are completely null. Let's confirm and then delete them:
energy_data['generation fossil coal-derived gas'].sum()

0.0

In [23]:
energy_data['generation fossil oil shale'].sum()

0.0

In [24]:
energy_data['generation fossil peat'].sum()

0.0

In [29]:
energy_data['generation hydro pumped storage aggregated'].count()

0

In [25]:
energy_data['generation geothermal'].sum()

0.0

In [31]:
energy_data['generation marine'].sum()

0.0

In [26]:
energy_data['generation wind offshore'].sum()

0.0

In [27]:
energy_data['forecast wind offshore eday ahead'].count()

0

In [32]:
energy_data.drop(columns = ['generation fossil coal-derived gas','generation fossil oil shale','generation fossil peat','generation geothermal','generation hydro pumped storage aggregated','generation marine','generation wind offshore','forecast wind offshore eday ahead'])

,time,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,...,generation other renewable,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,...,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,...,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,...,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,...,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,...,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,7634.0,2628.0,178.0,1.0,1135.0,4836.0,6073.0,...,95.0,85.0,277.0,3113.0,96.0,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,7241.0,2566.0,174.0,1.0,1172.0,3931.0,6074.0,...,95.0,33.0,280.0,3288.0,51.0,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,7025.0,2422.0,168.0,50.0,1148.0,2831.0,6076.0,...,94.0,31.0,286.0,3503.0,36.0,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,6562.0,2293.0,163.0,108.0,1128.0,2068.0,6075.0,...,93.0,31.0,287.0,3586.0,29.0,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,6926.0,2166.0,163.0,108.0,1069.0,1686.0,6075.0,...,92.0,31.0,287.0,3651.0,26.0,3117.0,24424.0,24455.0,64.27,69.88

In [8]:
weather_data.info
#we can see that the times seem to match up, so if we will want to merge the two DF it will be on 'time' = 'dt_iso',
#however, there is only one instance of each time in the energy data and one for each city in the weather data
#It also appears that there is indeed one observation for each hour over four years. 
#365*3*24 + 366*24 = 35064 (for one leap year). Somehow the weather data has more entries than that. 
# 5 cities * 35064 = 175320, but there are 178395 rows. We will have to invesigate where the ~3000 extra rows come from

<bound method DataFrame.info of                            dt_iso city_name     temp  temp_min  temp_max  \
0       2015-01-01 00:00:00+01:00  Valencia  270.475   270.475   270.475
1       2015-01-01 01:00:00+01:00  Valencia  270.475   270.475   270.475
2       2015-01-01 02:00:00+01:00  Valencia  269.686   269.686   269.686
3       2015-01-01 03:00:00+01:00  Valencia  269.686   269.686   269.686
4       2015-01-01 04:00:00+01:00  Valencia  269.686   269.686   269.686
...                           ...       ...      ...       ...       ...
178391  2018-12-31 19:00:00+01:00   Seville  287.760   287.150   288.150
178392  2018-12-31 20:00:00+01:00   Seville  285.760   285.150   286.150
178393  2018-12-31 21:00:00+01:00   Seville  285.150   285.150   285.150
178394  2018-12-31 22:00:00+01:00   Seville  284.150   284.150   284.150
178395  2018-12-31 23:00:00+01:00   Seville  283.970   282.150   285.150

        pressure  humidity  wind_speed  wind_deg  rain_1h  rain_3h  snow_3h  \
0           1001        77           1        62      0.0      0.0      0.0
1           1001        77           1        62      0.0      0.0      0.0
2           1002        78           0        23      0.0      0.0      0.0
3           1002        78           0        23      0.0      0.0      0.0
4           1002        78           0        23      0.0      0.0      0.0
...          ...       ...         ...       ...      ...      ...      ...
178391      1028        54           3        30      0.0      0.0      0.0
178392      1029        62           3        30      0.0      0.0      0.0
178393      1028        58           4        50      0.0      0.0      0.0
178394      1029        57           4        60      0.0      0.0      0.0
178395      1029        70           3        50      0.0      0.0      0.0

        clouds_all  weather_id weather_main weather_description weather_icon
0                0         800        clear        sky is clear          01n
1                0         800        clear        sky is clear          01n
2                0         800        clear        sky is clear          01n
3                0         800        clear        sky is clear          01n
4                0         800        clear        sky is clear          01n
...            ...         ...          ...                 ...          ...
178391           0         800        clear        sky is clear          01n
178392           0         800        clear        sky is clear          01n
178393           0         800        clear        sky is clear          01n
178394           0         800        clear        sky is clear          01n
178395           0         800        clear        sky is clear          01n

[178396 rows x 17 columns]>

In [13]:
weather_data[weather_data.city_name == 'Valencia'].count()

dt_iso                 35145
city_name              35145
temp                   35145
temp_min               35145
temp_max               35145
pressure               35145
humidity               35145
wind_speed             35145
wind_deg               35145
rain_1h                35145
rain_3h                35145
snow_3h                35145
clouds_all             35145
weather_id             35145
weather_main           35145
weather_description    35145
weather_icon           35145
dtype: int64

In [14]:
weather_data[weather_data.city_name == 'Madrid'].count()

dt_iso                 36267
city_name              36267
temp                   36267
temp_min               36267
temp_max               36267
pressure               36267
humidity               36267
wind_speed             36267
wind_deg               36267
rain_1h                36267
rain_3h                36267
snow_3h                36267
clouds_all             36267
weather_id             36267
weather_main           36267
weather_description    36267
weather_icon           36267
dtype: int64

In [15]:
weather_data[weather_data.city_name == 'Bilbao'].count()

dt_iso                 35951
city_name              35951
temp                   35951
temp_min               35951
temp_max               35951
pressure               35951
humidity               35951
wind_speed             35951
wind_deg               35951
rain_1h                35951
rain_3h                35951
snow_3h                35951
clouds_all             35951
weather_id             35951
weather_main           35951
weather_description    35951
weather_icon           35951
dtype: int64

In [17]:
weather_data[weather_data.city_name == ' Barcelona'].count() #noticed that Barecelona has a space in front

dt_iso                 35476
city_name              35476
temp                   35476
temp_min               35476
temp_max               35476
pressure               35476
humidity               35476
wind_speed             35476
wind_deg               35476
rain_1h                35476
rain_3h                35476
snow_3h                35476
clouds_all             35476
weather_id             35476
weather_main           35476
weather_description    35476
weather_icon           35476
dtype: int64

In [18]:
weather_data[weather_data.city_name == 'Valencia'].count()

dt_iso                 35145
city_name              35145
temp                   35145
temp_min               35145
temp_max               35145
pressure               35145
humidity               35145
wind_speed             35145
wind_deg               35145
rain_1h                35145
rain_3h                35145
snow_3h                35145
clouds_all             35145
weather_id             35145
weather_main           35145
weather_description    35145
weather_icon           35145
dtype: int64

In [19]:
weather_data['dt_iso'].value_counts() 
'''so there are many actual duplicates (not just the 5x duplicates
indicated by having 5 cities). We will eventually need to transform the weather data to be wide 
(have only one time observation per hour and make the city data be columns)'''

2015-10-01 02:00:00+02:00    10
2017-09-30 02:00:00+02:00    10
2016-09-30 02:00:00+02:00    10
2018-09-30 02:00:00+02:00    10
2018-02-28 09:00:00+01:00    10
                             ..
2016-05-06 17:00:00+02:00     5
2016-05-06 15:00:00+02:00     5
2016-05-06 14:00:00+02:00     5
2016-05-06 13:00:00+02:00     5
2018-12-31 23:00:00+01:00     5
Name: dt_iso, Length: 35064, dtype: int64